<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.contrue.NantingStoreExplore.mapper">

    <select id = "list" resultType = "com.contrue.po.User" actionType = "select">
        select * from user
    </select>

        <select id = "findById" resultType="com.contrue.po.User" parameterType = "java.lang.Integer" actionType="select">
            select * from user where id = #{id}
        </select>



</mapper>