<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.contrue.webapp.mapper.LikeMapper">

    <insert id = "insertLike" parameterType = "com.contrue.webapp.entity.po.Like" actionType = "update" openToken = "#{" closeToken = "}" >
        insert into likes (user_id,target_id,target_Type,target_name,user_name)
        values(#{userId},#{targetId},#{targetType},#{targetName},#{userName})
    </insert>

    <delete id = "delete" parameterType = "com.contrue.webapp.entity.po.Like" actionType = "update" openToken = "#{" closeToken = "}">
        delete from likes where target_type = #{targetType} and target_id = #{targetId}
    </delete>

    <select id = "getLike" resultType="com.contrue.webapp.entity.po.Like" parameterType = "com.contrue.webapp.entity.po.Like" actionType="select" openToken="#{" closeToken="}">
        select * from likes where user_id = #{userId} and target_id = #{targetId}
    </select>

</mapper>