<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.contrue.mapper.LikeMapper">

    <insert id = "insertLike" parameterType = "com.contrue.entity.po.Like" actionType = "update" openToken = "#{" closeToken = "}" >
        insert into likes (user_id,target_id,target_Type,target_name,user_name)
        values(#{userId},#{targetId},#{targetType},#{targetName},#{userName})
    </insert>

    <delete id = "delete" parameterType = "com.contrue.entity.po.Like" actionType = "update" openToken = "#{" closeToken = "}">
        delete from like where target_type = #{targetType} and target_id = #{targetId}
    </delete>

</mapper>