<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.contrue.mapper.StoreMapper">

    <insert id = "insertStore" parameterType = "com.contrue.entity.po.Store" actionType = "update" openToken = "#{" closeToken = "}" >
        insert into store (store_name,store_password,store_address,store_phone,store_short_description,store_description)
        values (#{name},#{password},#{address},#{phone},#{shortDescription},#{description})

    </insert>

    <update id = "updateStore" parameterType = "com.contrue.entity.po.Store" actionType = "update" openToken = "#{" closeToken = "}">
        update store set
        store_name = #{name},
        store_password = #{password},
        store_address = #{address},
        store_phone = #{phone},
        store_short_description = #{shortDescription},
        store_description = #{description}
        where id = #{id};
    </update>

    <select id = "findById" resultType="com.contrue.entity.po.Store" parameterType = "com.contrue.entity.po.Store" actionType="select" openToken="#{" closeToken="}">
        select * from store
        left join comment on store.id = comment.comment_target_id
        where store.id = #{id};
    </select>

    <select id = "listAllStore" resultType="com.contrue.entity.po.Store" parameterType = "com.contrue.entity.po.Store" actionType="select" openToken="#{" closeToken="}">
        select * from store;
    </select>

    <select id = "findByName" resultType="com.contrue.entity.po.Store" parameterType = "com.contrue.entity.po.Store" actionType="select" openToken="#{" closeToken="}">
        select * from store where store_name = #{name};
    </select>

    <select id = "listStoreByPage" resultType="com.contrue.entity.po.Store" parameterType= "com.contrue.entity.dto.PageResult" actionType="select" openToken="#{" closeToken="}">
        select * from store
        order by #{sortBy} desc
        limit #{offset} ,#{size};
    </select>

    <update id = "addFollowersCount" parameterType="com.contrue.entity.po.Store" actionType="update" openToken="#{" closeToken="}">
        update store set followers_count = followers_count + 1 where id = #{id};
    </update>

    <update id = "reduceFollowersCount" parameterType="com.contrue.entity.po.Store" actionType="update" openToken="#{" closeToken="}">
        update store set followers_count = followers_count - 1 where id = #{id};
    </update>

</mapper>